@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');

:root {
    --main-color:#ecd8ff;
    --main-color-translucent:#ecd8ff3f;
    --strong-color:#cf9bff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Fira Code', Menlo, Consolas, 'Courier New', monospace;
    color: #fff;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.hidden-link {
    all: unset;
    cursor: pointer;
    color: gray;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
}

p {
    margin: 20px 0;
    font-size: 1.2rem;
    color: var(--main-color);
}

li::marker {
    color: var(--main-color);
}

li p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tab {
    margin-left: 50px;
    margin-right: 50px;
}

#shaderCanvas {
  position:fixed;
  inset:0;
  width:100vw;
  height:100dvh;
  height:100vh;

  transform:translate3d(0,0,0);
  will-change:transform;

  z-index:-1;
  image-rendering:pixelated;
  pointer-events:none;   
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(20, 20, 20, 0.7);
    text-align: left;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(20, 20, 20, 0.7);
    text-align: left;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.box {
  width: 75%;
  margin: 20px 0;
  text-align: left;
  padding: 50px 80px;
  outline: 5px dotted var(--main-color-translucent);
  outline-offset: -20px;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: var(--main-color-translucent);
    margin: 20px 0;
}

.spacer {
    width: 100%;
    height: 48px;
}

.glass {
    background: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.belt {
    flex-direction: row;
}

.social {
    filter: saturate(0) brightness(5.0);
    transition: filter 0.3s;
    cursor: pointer;
    margin: 0 5px;
}

.social:hover {
    filter: none;
}

.pfp {
    border: 5px dotted var(--main-color-translucent);
    padding: 5px;
    display: inline-block;
}
.pfp img {
    margin: 0;
    cursor: pointer;
    display: block;
}

.splash {
    color: var(--strong-color);
}

.badge {
    width: 88px;
    height: 31px;
    transition: transform 0.3s;
    image-rendering: pixelated;
}

.badge:hover {
    transform: scale(2.0);
}

.webring {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media screen and (max-width: 960px) {
    html {
        font-size: 0.75em;
    }

    .pfp img {
        width: 150px;
        height: 150px;
    }

    .social {
        width: 30px;
        height: 30px;
    }

    .tab {
        margin-left: 20px;
        margin-right: 20px;
    }

    .box {
        width: 100%;
        padding: 10px 40px;
        padding-bottom: 40px;
    }
}